<div class="container mt-5">
  <div class="form-group">
    <label>Enter Numbers</label>
    <input type="text" class="form-control" placeholder="Enter Numbers" [(ngModel)]="intNum" #pairInput>
  </div>

  <div class="form-group">
    <label>Enter Specified Sum</label>
    <input type="text" class="form-control" placeholder="Enter Specified Sum" [(ngModel)]="addNum" #indexInput>
  </div>

  <button class="btn btn-primary" (click)="onClickMe()">Find Pair</button>
  <div>
    <app-result-section [showResult]="showVar"></app-result-section>
  </div>
</div>